In [1]:
import sys
import os
sys.path.append(os.path.abspath('..'))

In [3]:
import pandas as pd
import numpy as np
import json

In [5]:


y = pd.read_csv('../data/processed/y.csv')
meta  = pd.read_json('../data/processed/meta.json', orient='split')

In [6]:
y

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3947,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3948,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3949,0.0,0.0,0.0,0.0,0.0,0.0,0.0,33.0,88.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3950,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,143.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3951,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,36.0,108.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
meta

,TransplantDate,Parcel,Lot,ProducerCode,Variety,Ha,Class,Type,WeekTransplanted,Week_Cos,Week_Sin,Year,ClimateSeries
0,1332892800000,N02,7,OAP,Shiren,0.1330,CHE,Cherry Rojo,13,-1.608123e-16,1.000000,2012,"[[-0.3827101525, -1.1992770129, 0.0, 0.0, 0.41..."
1,1360713600000,Z18,6,ZJL,Felicity,0.3938,CHE,Cherry Rojo,7,6.631227e-01,0.748511,2013,"[[-0.2535675497, -0.8592687109, 0.0, 0.0, -0.1..."
2,1360713600000,Z18,6,ZJL,Shiren,0.3938,CHE,Cherry Rojo,7,6.631227e-01,0.748511,2013,"[[-0.2535675497, -0.8592687109, 0.0, 0.0, -0.1..."
3,1360886400000,Z18,2,ZJL,Amsterdam,0.2700,BSUF,Uva Roja,7,6.631227e-01,0.748511,2013,"[[0.3125368926, -0.0596579057, 0.0, 0.0, -0.54..."
4,1360886400000,Z18,2,ZJL,Olivia,0.5400,BSUF,Uva Roja,7,6.631227e-01,0.748511,2013,"[[0.3125368926, -0.0596579057, 0.0, 0.0, -0.54..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3947,1721865600000,S12,4,SGB,Top 2323,0.1530,CHE,Cherry Rosa,30,-8.854560e-01,-0.464723,2024,"[[0.8452649894, 0.93700445, 0.0, 0.0, 0.485896..."
3948,1721865600000,S12,4,SGB,Yoyomo,0.1020,BSUF,Uva Amarilla,30,-8.854560e-01,-0.464723,2024,"[[0.8452649894, 0.93700445, 0.0, 0.0, 0.485896..."
3949,1722211200000,S12,7,SGB,King,0.5100,BSUF,Uva Roja,31,-8.229839e-01,-0.568065,2024,"[[0.3676142667, 0.3320816298, 0.0, 0.0, 0.5941..."
3950,1722211200000,S12,8,SGB,King,0.0306,BSUF,Uva Roja,31,-8.229839e-01,-0.568065,2024,"[[0.3676142667, 0.3320816298, 0.0, 0.0, 0.5941..."
3951,1722211200000,S12,8,SGB,Tymoty,0.3978,CHE,Cherry Rojo,31,-8.229839e-01,-0.568065,2024,"[[0.3676142667, 0.3320816298, 0.0, 0.0, 0.5941..."

In [20]:
harvest = y.values
cumsum = np.cumsum(harvest, axis=1)
total = harvest.sum(axis=1, keepdims=True)
cumulative_percent = cumsum / total  # shape: (n, 40)

# Function to find first index where condition is met per row
def first_ge_threshold(arr, threshold):
    return (arr >= threshold).argmax(axis=1)

week_25 = first_ge_threshold(cumulative_percent, 0.25)
week_75 = first_ge_threshold(cumulative_percent, 0.75)

iqr_weeks = week_75 - week_25  # shape: (n,)
iqr_weeks = pd.Series(iqr_weeks, name="IQR_Weeks")

In [26]:
weeks = np.arange(1, y.shape[1]+1)
numerators = (y.values * weeks).sum(axis=1)
denominators = y.values.sum(axis=1)

weighted_mean_weeks = pd.Series(numerators / denominators, name="Weighted_Mean_Weeks")

In [32]:
first_harvest = pd.Series([np.argmax(row > 0) if np.any(row > 0) else np.nan for row in harvest],name="FirstHarvest")

first_harvest.describe()

count    3952.000000
mean       11.402075
std         2.128384
min         4.000000
25%        10.000000
50%        11.000000
75%        13.000000
max        19.000000
Name: FirstHarvest, dtype: float64

In [33]:
end_harvest = pd.Series(([np.max(np.nonzero(row)[0]) if np.any(row > 0) else np.nan for row in harvest]),name = 'EndHarvest')

end_harvest.describe()

count    3952.000000
mean       19.782389
std         3.866700
min         8.000000
25%        17.000000
50%        20.000000
75%        22.000000
max        32.000000
Name: EndHarvest, dtype: float64

In [27]:
weighted_mean_weeks.describe()

count    3952.000000
mean       16.654698
std         2.236656
min         8.970588
25%        15.172237
50%        16.571429
75%        18.000000
max        26.033882
Name: Weighted_Mean_Weeks, dtype: float64

In [24]:
iqr_weeks.value_counts()

IQR_Weeks
2     873
3     837
4     555
1     477
0     373
5     364
6     215
7     124
8      54
9      37
10     20
11     13
14      3
13      2
15      2
12      2
20      1
Name: count, dtype: int64